.pp_like_like {
    display: inline-block;
    vertical-align: bottom;
    height: 48px;
}

.pp_like_liked {
    display: inline-block;
    vertical-align: bottom;
    height: 48px;
}

.post_like {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: right;
    vertical-align: bottom;
}